<div class="content">
  <meta charset="utf-8">

  <div class="card-header">
    <h1 mat-dialog-title>Карточка персонажа</h1>
  </div>

  <mat-dialog-content>
    <form>
      <app-card [fields]="fields" [data]="data.person"></app-card>

      <div class="form-group" [style.display]="hideFormGroup || !films.length ? 'none' : 'grid'">
        <label for="films">Фильмы</label>
        <div class="form-group__select-and-button">
          <mat-select id="films" [(value)]="filmId">
            <mat-option *ngFor="let film of films" [value]="film.id">
              {{film.title}}
            </mat-option>
          </mat-select>
          <button class="mat-raised-button" (click)="openFilmCard(filmId)">Фильм</button>
        </div>
      </div>

      <div class="form-group" [style.display]="hideFormGroup || !starships.length ? 'none' : 'grid'">
        <label for="starships">Звездолеты</label>
        <div class="form-group__select-and-button">
          <mat-select id="starships" [(value)]="starshipId">
            <mat-option *ngFor="let starship of starships" [value]="starship.id">
              {{starship.name}}
            </mat-option>
          </mat-select>
          <button class="mat-raised-button" (click)="openStarshipCard(starshipId)">Звездолет</button>
        </div>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Закрыть</button>
  </mat-dialog-actions>

</div>
